html,
body,
cast-media-player {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #090b0f;
}

cast-media-player {
  --background-image: linear-gradient(135deg, #090b0f, #171d28);
  --splash-image: none;
  --logo-image: none;
  --watermark-image: none;
}
